body{
    font-family: Arial, Helvetica, sans-serif;
}
#title{
    color: white;
    font-size: 55px;
    margin: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: url(logo_.png);
}
.contener{
    background-color: rgb(128, 26, 0);
    height: auto;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
header{
    height: 150px;
    width: 1250px;
    background-color: rgb(98, 19, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}
main{
    height: auto;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 0%;
    padding: 0%;
    color: white;
}
.side{
    width: 175px;
    height: auto;
    margin-bottom: 0%;
}
#edge1{
    width: 175px;
    height: 40px;
    background-color: rgb(98, 19, 0);
    color: white;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: end;
}
#menu{
    background-color: rgb(98, 19, 0);
    border-color: rgb(98, 19, 0);
    font-size: 20px;
    color: white;
    font-weight: bold;
}
#edge2{
    width: 175px;
    height: 40px;
    background-color: rgb(128, 26, 0);
    margin-bottom: 0%;
}
#fill_h{
    width: 175px;
    height: 1200px;
    margin-bottom: 0%;
    background-color: white;
}
#fill_b{
    width: 175px;
    height: 800px;
    margin-bottom: 0%;
    background-color: white;
}
#fill_h{
    width: 175px;
    height: 1200px;
    margin-bottom: 0%;
    background-color: white;
}
#fill_n{
    width: 175px;
    height: 900px;
    margin-bottom: 0%;
    background-color: white;
}
.mid{
    height: auto;
    width: 1000px;
    background-image: linear-gradient(to bottom, rgb(128, 26, 0), rgb(98, 19, 0));
    background-color: rgb(128, 26, 0);
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article1{
    width: 825px;
    height: 375px;
    background-image: linear-gradient(to top left, rgb(128, 26, 0), rgb(98, 19, 0));
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.article2{
    width: 825px;
    height: 375px;
    background-image: linear-gradient(to bottom left, rgb(128, 30, 0), rgb(98, 15, 0));
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.article3{
    width: 800px;
    height: 360px;
    background-image: url(tlo.jpg);
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4%;
}
.article3:hover{
    transition: 0.2s linear;
    transform: scale(1.06);
}
#articlebor{
    background-image: url(borowik2.jpg);
    border-radius: 4%;
    width: 800px;
    height: 360px
}
#articlebor:hover{
    transition: 0.2s linear;
    transform: scale(1.06);
}
#articlepod{
    background-image: url(podgrzybek2.jpg);
    border-radius: 4%;
    width: 800px;
    height: 360px
}
#articlepod:hover{
    transition: 0.2s linear;
    transform: scale(1.06);
}
#articlemas{
    background-image: url(maslak2.jpg);
    border-radius: 4%;
    width: 800px;
    height: 360px
}
#articlemas:hover{
    transition: 0.2s linear;
    transform: scale(1.06);
}
#headart{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#lilcon{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
.window1{
    width: 220px;
    height: 250px;
    background-color: white;
    margin: 20px;
    border-radius: 8%;
    color: white;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.window1:hover{
    transition: 0.2s linear;
    transform: scale(1.06);
}
#window_a{
    background-image: url(borowik_.jpg);
}
#window_b{
    background-image: url(podgrzybek_.jpg);
}
#window_c{
    background-image: url(maślak_.jpg);
}
#arttxt1{
    margin-left: 25px;
    margin-right: 25px;
}
#arttxt2{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    text-align: justify;
}
#headtxt1{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 17,5px;
    font-weight: bold;
}
#headtxt2{
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 25px;
    font-weight: bold;
}
#window2{
    width: 350px;
    height: 250px;
    background-color: white;
    margin: 20px;
    border-radius: 8%;
    color: rgb(98, 19, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
#window2:hover{
    transition: 0.2s linear;
    transform: scale(1.06);
}
.footer{
    height: 100px;
    width: 1250px;
    background-color: rgb(128, 26, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icn{
    color: rgba(255, 255, 255, 0.53); 
    margin: 40px;
    cursor: pointer;
 }
 #icnmenu{
    margin: 8px;
    height: 28px;
 }
 #icn:hover{
     color: white;
 }
 a{
    text-decoration: none;
    color: inherit;
 }
 #article1n{
    height: 475px;
 }